body {
    margin: 1em;
    background: MediumSeaGreen;
    font-family: "Flamenco";
    text-align: center;
    margin: 0 0 10px 0;
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHxcP18sAB6Lvq_qhpYLKQi7ha_1T2ol121Q&usqp=CAU");
}

h1 {
    font-family: TrebuchetMS;
    font-size: 40px;
    color: black;
}

game {
    display: inline;
    /* DO NOT CHANGE display: inline */
}

.card {
    display: inline-block;
    /* DO NOT CHANGE display: inline-block */
    background-color: rgba(0, 0, 0, 0.37);
    background-size: 80px 120px;
    width: 80px;
    height: 120px;
    margin: 5px;
    border: 2px solid black;
}